.contact{
    display: flex;
    justify-content: center;
}
.contact-card{
    margin: 20px;
    border: 1px solid #406882;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    background: #6998AB;
    box-shadow: 0 0 25px #1A374D;
}

.contact h1{
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.contact h2{
    font-size: 1em;
    text-align:center;
    font-weight: 600;
}

.contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-item a{
    text-decoration: none;
    color: black;
}